#grid{
    width:350px;
    height:350px;
    border:2px solid black;
    display:flex;
    flex-wrap:wrap;
}
#grid div{
    border:1px solid black;
    width:20px;
    height:auto;
}
.red-btn{
    color:white;
    background-color: red;
}
.green-btn{
    color:black;
    background-color: rgb(0, 255, 55);
}