html{
    background-color: rgb(70, 70, 70);
    color:white;
}
h1{
    background-color: rgb(59, 118, 153);
    margin:-0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}
#grid{
    width:352px;
    height:352px;
    border:2px solid black;
    display:flex;
    flex-flow:column wrap;
}
.parent{
    display: flex;
    flex: 1;
}
.parent div{
    flex: 1 auto;
    border:1px solid black;
    background-color: white;
}
.red-btn{
    color:white;
    background-color: red;
}
.green-btn{
    color:black;
    background-color: rgb(0, 255, 55);
}