#grid{
    width:350px;
    height:350px;
    border:2px solid black;
    display:flex;
    flex-flow:column wrap;
}
.parent{
    display: flex;
    flex: 1;
}
.parent div{
    flex: 1 20px;
    border:1px solid black;
}
.red-btn{
    color:white;
    background-color: red;
}
.green-btn{
    color:black;
    background-color: rgb(0, 255, 55);
}